<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to Free Software Melbourne</h1>
</div>


<%= link_to image_tag("FSM_logo.png", alt: "FSM Home", width: "50px"), root_path %>


<p>You are the %= @@count % viewer :D</p>

<% if loggedin? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="user_file_form">
        <%= render "shared/user_file_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>File Listing</h3>
      <%= render "shared/file_listing"%>
    </div>
  </div>
<% else %>
  <%= link_to "Join Us", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>
