<% provide(:title, 'Login') %>
<div class="aside">
  <h1>Login</h1>
  <p>Please enter your details to login to FSM</p>
  <%= form_for(:session, url: login_path) do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>

    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>

    <%= form.label :remember_me, class: "checkbox inline" do %>
      <%= form.check_box  :remember_me %>
      <span>Remember me on this device</span>
    <% end %>

    <%= form.submit "Login", class: "btn btn-primary" %>
  <% end %>
  <p>or, <%= link_to "signup now", signup_path %> for your free account!</p>
</div>
