<li id="user_file-<%= user_file.id%>">
  <%= link_to gravatar_for(user_file.user, size: 50), user_file.user %>
  <span class="user"><%= link_to user_file.user.name, user_file.user %></span>
  <span class="timestamp"><%= time_ago_in_words(user_file.created_at) %></span>
  <span class="filename"><%= user_file.file_name %></span>
  <span class="contents"><%= user_file.content %></span>

</li>
