  <%= form_for(@user) do |form| %>
    <%= render "shared/error_messages", object: form.object %>
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>

    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>

    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>

    <%= form.label :password_confirmation, "Confirm password" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>

    <%= form.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
