<% provide(:title, 'Edit FSM profile') %>
<% provide(:button_text, 'Save profile changes') %>
<h1>Update profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "basic_form" %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
    </div>
  </div>
</div>
<p>The mailing list is another option</p>
