<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Join FSM') %>
<h1>Join FSM</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "basic_form" %>
  </div>
</div>
<p>The mailing list is another option</p>
