<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2><%= @user.name %> <%= gravatar_for @user %></h2>
      <p>Signed up: <%= @user.created_at %></p>
      <p>Last updated profile: <%= @user.updated_at %></p>
      <p>Contact: <%= @user.email %></p>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.user_files.any? %>
      <h3>Files (<%= @user.user_files.count %>)</h3>
      <ol class="user_files">
        <%= render @user_files %>
      </ol>
      <%= will_paginate @user_files %>
    <% end %>
  </div>
</div>
