<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert-danger">
      submission contains <%= pluralize(object.errors.count, "error") %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
  </div>
<% end %>
