<%= form_for(@user_file) do |form| %>
  <%= render "shared/error_messages", object: form.object %>
  <div class="field">
    <%= form.text_field :file_name, placeholder: "file.txt" %>
  </div>
  <div class="field">
    <%= form.text_area :content, placeholder: "hello worlds" %>
  </div>
<% end %>
