
<footer class="footer">
  <small>
    <p>(c) PuZZleDucK 2016 GPL3</p>
    <p>Page viewed at: <%= Time.now %></p>
  </small>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to about_path, about_path %></li>
      <li><%= link_to help_path, help_path %></li>
    </ul>
  </nav>
</footer>
