
<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<nav>
  <%= link_to "FSM", root_path, id: "logo" %>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <% if loggedin? %>
      <li><%= link_to "Members", users_path %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> My Account <b class="carret"></b> </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to "Login", login_path %></li>
    <% end %>
  </ul>
</nav>
</div>
</header>
