<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>

  <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
      <%= render "layouts/footer" %>
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
